<h1 class="header">NPR Headlines for the U.S.</h1>
    <a href="/scrape" class="scrape">Scrape</a>
    <div class="cards">
        {{#each articles}}
        <div class="card" data-id={{_id}}>
          <a class="title" href={{link}}>{{title}}</a>
          <img src={{image}} />
          <p class="summary">{{summary}}</p>
          {{#unless saved}}
            <!-- Instead of using handlebars, call a route to change the value of saved -->
            <button class="save-article" data-id={{_id}} data-task="save">Save Article</button>
          {{/unless}}
          {{#if saved}}
            <button class="save-article" data-id={{_id}} data-task="unsave">Unsave Article</button>
          {{/if}}
        <!-- Results from DB here -->
        </div>
        {{/each}}
      </div> <!-- .cards -->

    <script>
      $(".save-article").click(function() {
        id = $(this).attr("data-id");
        task = $(this).attr("data-task");
        $.post("/article/" + task + "/" + id, function() {
          window.location.href="/article/saved";
        })
      })

    </script>
    