<h3 class="header">NPR Headlines for the U.S.</h3>
    
    <table id="results">
      <thead>
      </thead>
      <tbody>
        {{#each articles}}
        <div data-id={{_id}}>
          <a href={{link}}>{{title}}</a><br />
          <img src={{image}} /><br />
          <p>{{summary}}</p>
          {{#unless saved}}
            <!-- Instead of using handlebars, call a route to change the value of saved -->
            <button data-id={{_id}} data-task="save">Save Article</button>
          {{/unless}}
          {{#if saved}}
            <button data-id={{_id}} data-task="unsave">Unsave Article</button>
          {{/if}}
        <!-- Results from DB here -->
        </div>
        {{/each}}
      </tbody>
    </table>

    <script>
      $("button").click(function() {
        id = $(this).attr("data-id");
        task = $(this).attr("data-task");
        $.post("/article/" + task + "/" + id, function() {
          window.location.href="/articles";
        })
      })
    </script>
    